*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitore{
    background-color: #e8e8e8;
    width: 15%;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
img{
    max-width: 50%;
}
.logo{
    text-align: center;

}
.risultato{
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* main */
.calcolatrice{
    display: flex;
    padding: 5px;

}
.numeri{
    width: calc(100% /2);
    height: 200px;
    
}

.n1{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.full{
    width:30%;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 2px;
    background-color: #bbbbbb;
    box-shadow: 19px 9px 10px #dedede;
}
.n0{
    width: 65%;
    border: 1px solid black;
    margin-right: 1px;
}

.op{
   display: flex; 
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
   margin-left: 5px;
}
.text{
    border: 1px solid black;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    background-color: #77a8b0;
}

.fuguale{
    background-color: #ff9f0a;
}